html {
    font-size: 16px;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family:sans-serif;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}
body {
    background-color: rgb(222, 247, 245);
    overflow-x: hidden;
}
img,video {
    width:100%;
    height:100%; 
}
main {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas:
    "header header header"
    "page-navigation page-navigation page-navigation" 
    "main-content main-content sidebar"
    "section_2 section_2 sidebar"
    "section_2 section_2 sidebar"
    "section_2 section_2 sidebar"
    ;
    gap:1rem;
}
header {
    position: relative;
    height:var(--header-height);
    background:linear-gradient(rgba(32, 169, 232, 0.6) 20%,rgba(204, 236, 92, 0.642),rgba(6, 146, 6, 0.865));
    padding: 1rem 2rem;
    grid-area: header;
}
header h1 {
    margin-bottom: 1rem;
}
.intore-pic-div {
    position: relative;
    width: var(--intore-pic-div-width);
    height:var(--intore-pic-div-height);
    float:right;
    z-index: -1;
}
.page-navigation {
    background-color: rgb(6, 146, 6);
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: page-navigation;
}
.navigation-bars a {
    color: aliceblue;
    text-decoration: none;
}
.navigation-bars a:hover {
    text-decoration:underline;
}
.navigation-bars a:active {
    color: aquamarine;
    text-decoration:none;
}
.navigation-bars {
    display: flex;
    gap:2rem;
}
.main-content {
    background-color: aliceblue;
    margin-left:2rem;
    padding: 1rem 2rem;
    grid-area: main-content;
}
.main-content h3 {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0.5rem 0;
}
.main-content figure {
    width:70%;
    margin: 0 auto 1rem auto;
}
.main-content img {
    transition: transform 500ms;
}
.main-content img:hover {
    transform: scale(1.3);
}
.main-content figure figcaption {
    text-align: center;
}
.main-content h4 {
    margin-bottom: 0.5rem;
}
.main-content ul li span {
    font-weight: bold;
    text-decoration: underline;
}
.section_2 {
    grid-area: section_2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "visit-rwanda-title visit-rwanda-title"
    "gorilla-pic-div hills-pic-div"
    "visit-video-div visit-video-div";
    gap:1.5rem;
    margin-left: 2rem;
    h2:first-of-type {
    display: flex;
    justify-content: center;
    grid-area: visit-rwanda-title;
    }
    .gorilla-pic-div {
        grid-area: gorilla-pic-div;
        overflow: hidden;
        img {
            transition: transform 500ms;
        }
    }
    .hills-pic-div {
        grid-area: hills-pic-div;
        overflow: hidden;
        img {
            transition: transform 500ms;
        }
    }
    .hills-pic-div figure {
        background-color: aliceblue;
        height:100%;
    }
    .gorilla-pic-div figure,.hills-pic-div figure img {
        background-color: aliceblue;
        height: max-content;
    }
    .gorilla-pic-div,.hills-pic-div figcaption {
        text-align: center;
    } 
    .gorilla-pic-div figcaption span,.hills-pic-div figcaption span {
        font-weight: bold;
        display: block;
    }
    .gorilla-pic-div img:hover,.hills-pic-div img:hover  {
        transform: scale(130%);
    }
    .visit-video-div {
        background-color: rgb(32, 169, 232);
        grid-area: visit-video-div;
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-areas:
        "visit-video-div-figure"
        ;
    }
    .visit-video-div figure {
        grid-area: visit-video-div-figure;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .visit-video-div img {
        grid-column: 1/2;
    }
    .visit-video-div figure figcaption {
        text-align: center;
        color: aliceblue;
        grid-column: 2/3;
    }
    .visit-video-div figure figcaption span {
        font-weight: bold;
        display: block;
    }
}
.sidebar {
    background-color: aliceblue;
    margin: 0 2rem 0 0;
    grid-area: sidebar;
}
.sidebar h4 {
    margin: 0.5rem 0;
}
.sidebar ul {
    width:100%;
}
.sidebar ul li {
    width:100%;
    list-style: none;
    padding: 1rem 0;
}
.sidebar ul li a {
    text-decoration: none;
}
.sidebar ul li a {
    color: black;
    text-decoration: none;
}
.sidebar ul li a:hover {
    color:rgb(13, 77, 13);
    text-decoration: underline;
}
.line {
    height: 0.01rem;
    width:100%;
    background-color: black;
}
.questions {
    width:100%;
    margin-top: 1rem;
}
.questions p,.questions h5,.sidebar ul li,.sidebar h4 {
    text-align: center;
}
footer {
    background-color: aliceblue;
    background:linear-gradient(rgba(32, 169, 232, 0.6) 20%,rgba(204, 236, 92, 0.642),rgba(6, 146, 6, 0.865));
    padding: 1rem 0;
    margin-top: 1.5rem;
    text-align: center;
}
footer a {
    border:2px solid black;
    border-radius: 20rem;
    padding: 0.1rem 1rem;
    text-decoration: none;
    color: black;
}
footer a:hover {
    background: rgb(32, 169, 232);
    color: aliceblue;
    cursor: pointer;
    border: none;
}
footer a:active {
    background: rgb(13, 77, 13);
    color: aliceblue;
    cursor: pointer;
    border: none;
}
.social-media h4 {
    margin: 1rem 0;
    grid-area: link-title;
}
.social-media {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "link-title link-title"
    "github instagram"
    "facebook whatsapp"
    ;
    gap:0.5rem;
}
#github-icon {
    grid-area:github;
    width:10rem;
    justify-self: end;
}
#instagram-icon {
    grid-area: instagram;
    width:10rem;
}
#whatsapp-icon {
    grid-area: whatsapp;
    width:10rem;
}
#facebook-icon {
    grid-area: facebook;
    width:10rem;
    justify-self: end;
}
#copyright {
    text-align: center;
}
:root {
    --intore-pic-div-width:15rem;
    --intore-pic-div-height:10rem;
    --header-height:12rem;
}
@media (min-width:1920px) {
    html {
        font-size: 25px;
    }
}
@media (min-width:1440px) and (max-width:1920px) {
    html {
        font-size: 18px;
    }
}
@media (min-width:1024px) and (max-width:1440px) {
    html {
        font-size: 16px;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    html {
        font-size: 14px;
    }
}
@media (width<800px) {
    .section_2 {
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "gorilla-pic-div" 
        "hill-pic-div" 
        "visit-video-div";
        h2:first-of-type {
         grid-area: header;   
        }
        .gorilla-pic-div {
            grid-area: gorilla-pic-div;
        }
        .hills-pic-div {
            grid-area: hill-pic-div;
        }
        .visit-video-div {
            grid-area: visit-video-div;
            align-self: end;
        }
    }
}
@media (width<768px) {
    main {
    grid-template-columns: 100%;
    grid-template-areas:
    "header"
    "page-navigation" 
    "sidebar"
    "main-content"
    "section_2"
    "section_2"
    "section_2"
    ;
    gap:1rem;
    }
    header {
        grid-area: header;
    }
    .page-navigation {
        grid-area: page-navigation;  
    }
    .sidebar {
        margin: 0 2rem;
        padding: 1rem;
        grid-area: sidebar;
        .sidebar-row1 {
            .official-sidebar ul {
                display: flex;
                li:first-of-type {
                    border:.1rem solid;
                }
                li:nth-of-type(2),li:last-of-type {
                    border-top:.1rem solid;
                    border-right:.1rem solid;
                    border-bottom:.1rem solid;
                }
            }
            .line {
                display: none;
            }
        }       
    }
    .main-content {
        grid-area: main-content;
        margin: 0 2rem;
    }
    .section_2 {
        grid-area: section_2;
        margin: 0 2rem;
    }
}
@media (width>=480px) and (width<768px) {
    html {
        font-size: 12px;
    }
}
@media (width<400px) {
 header {
    height: max-content;
    h1 {
        margin: 0;
    }
    div {
        display: none;
    }
 }   
}
@media (width<480px) {
    html {
        font-size: 10px;
    }
}